<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Open Sans Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- FontAweSome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <!-- Tiny ediotr -->
    <script src="https://cdn.tiny.cloud/1/czhzadznx3qb12g2i4971xbviqsshfv65cbyuvs95fsi5021/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <title>HappiNovel</title>
    
</head>
<body>
    <!-- Navigator bar -->
    <nav class="navbar navbar-expand-lg bg-transparent">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="rounded-2" src="./Image/logo.png" alt="Bootstrap" width="50" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <b><a class="nav-link" href="#">Quản lý user</a></b>
                    </li>
                    <li class="nav-item">
                        <b><a class="nav-link" href="#">Kho sách</a></b>
                    </li>
                    <li class="nav-item">
                        <b><a class="nav-link" href="#">Quản lý báo cáo</a></b>
                    </li>
                    <li class="nav-item">
                        <b><a class="nav-link" href="#">Duyệt sách</a></b>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-regular fa-user-circle fa-2xl"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Cover image -->
  
    <div class="container">
        <img width="100%" src="./Image/BiaWeb.png" alt="Ảnh bìa" style="margin-bottom: 20px;">
    </div>
    <div class="container border rounded p-3" style="margin-bottom: 50px;">
    <!-- Tiêu đề -->
    <h2><i class="fa-solid fa-book"></i> <strong> Quản lí Pending Book</strong></h2>
      <div class="row">
      <div class="col-md-4 mt-2  d-flex align-items-center ">
        <div class="input-group "  style="max-width: 260px;"  >
          <span class="input-group-text" id="search-icon" style="background-color: #D9D9D9;"><i class="fa-solid fa-magnifying-glass"></i></span>
          <input type="text" class="form-control" style="background-color: #D9D9D9;" 
                 id="search-input" placeholder="Tìm kiếm theo tên,id,etc.">
        </div>
      </div>
      <div class="col-md-2 mt-2  d-flex align-items-center">
          <span class="me-3">
          <!-- Thêm biểu tượng vào đây, ví dụ: Font Awesome icon -->
          <i class="fa-solid fa-filter"></i>
          </span>
          <select class="form-select" style="max-width: 110px;background-color: #D9D9D9;">
                    <option>Tất cả</option>
                    <option> Reject</option>
                    <option>Approve </option>
                    <option>Pending </option>
                    </select>
      </div>
      <div class="col-md-2 mt-2 d-flex align-items-center ">
        <button class="btn btn-outline " style="background-color: #D9D9D9; margin-left: 40px;">Đồng ý </button>
      </div>
      <div class="col-md-2 mt-2 d-flex align-items-center">
        <button class="btn btn-outline " style="background-color: #D9D9D9;">Từ chối</button>
      </div>
      <div class="col-md-2 mt-4 d-flex justify-content-center">
      
         <ul class="pagination ">
            <li >
          <div class="btn btn-outline btn-lg btn-text">1 of 7</div>
          </li>
           <li >
          <a href="#" aria-label="Trang trước" class="btn btn-outline btn-lg">
          <i class="fas fa-chevron-left"></i>
          </a>
          </li>
           
          <li class="page-item">
            <a href="#" aria-label="Trang sau" class="btn btn-outline btn-lg">
              <i class="fas fa-chevron-right"></i>
            </a>
          </li>
  <!-- Các nút điều hướng khác ở đây -->
          </ul>
        </div>
      </div>
      
      <!-- Bảng -->
        
  <div class="table-responsive mt-2">
    <table class="table table-hover table-borderless ">
      <thead>
        <tr>
          <th class="border-bottom " >
            <input type="checkbox" id="checkAll">
          </th>
          <th class="border-bottom" >STT <i class="fa-solid fa-sort"></i> </th>
          <th class="border-bottom" >Username <i class="fa-solid fa-sort"></i> </th>
          <th class="border-bottom" >Tên sách <i class="fa-solid fa-sort"></i></th>
          <th class="border-bottom text-center" >Chương <i class="fa-solid fa-sort"></i></th>
          <th class="border-bottom" >Tác giả <i class="fa-solid fa-sort"></i></th>
          <th class="border-bottom" >Thể loại <i class="fa-solid fa-sort"></i></th>
          <th class="border-bottom" >Nội dung <i class="fa-solid fa-sort"></i></th>
          <th class="border-bottom " >Yêu cầu <i class="fa-solid fa-sort"></i></th>
          <th class="border-bottom text-center"  >Tình trạng <i class="fa-solid fa-sort"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox"></td>
          <td>1</td>
          <td>quynh2004</td>
          <td>Tự kỉ 1</td>
          <td class="text-center">9</td>
          <td>quynh</td>
          <td> hài hước,...</td>
          <td>Ngày xửa ngày xưa...</td>
          <td>Thêm</td>
          <td class="d-flex justify-content-center">
            <span class="p-1 rounded" style="background-color: #FF6767;">Reject</span>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td>2</td>
          <td>quynh2004</td>
          <td>Tự kỉ 1</td>
          <td class="text-center">9</td>
          <td>quynh</td>
          <td> hài hước,...</td>
          <td>Ngày xửa ngày xưa...</td>
          <td>Xóa</td>
          <td class="d-flex justify-content-center">
            <span class="p-1 rounded" style="background-color: #67FF88;">Approve</span>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td>3</td>
          <td>quynh2004</td>
          <td>Tự kỉ 1</td>
          <td class="text-center">9</td>
          <td>quynh</td>
          <td> hài hước,...</td>
          <td>Ngày xửa ngày xưa...</td>
          <td> Sửa</td>
          <td class="d-flex justify-content-center">
            <span class="p-1 rounded" style="background-color: #67FF88;">Approve</span>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td>4</td>
          <td>quynh2004</td>
          <td>Tự kỉ 1</td>
          <td class="text-center">9</td>
          <td>quynh</td>
          <td> hài hước,...</td>
          <td>Ngày xửa ngày xưa...</td>
          <td>Thêm</td>
          <td class="d-flex justify-content-center">
            <span class="p-1 rounded" style="background-color: #FDE9B5;">Pending</span>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td >5</td>
          <td>quynh2004</td>
          <td>Tự kỉ 1</td>
          <td class="text-center">9</td>
          <td>quynh</td>
          <td> hài hước,...</td>
          <td>Ngày xửa ngày xưa...</td>
          <td>Thêm</td>
          <td class="d-flex justify-content-center">
            <span class="p-1 rounded" style="background-color: #67FF88;">Approve</span>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td>6</td>
          <td>quynh2004</td>
          <td>Tự kỉ 1</td>
          <td class="text-center">9</td>
          <td>quynh</td>
          <td> hài hước,...</td>
          <td>Ngày xửa ngày xưa...</td>
          <td>Thêm</td>
          <td class="d-flex justify-content-center">
            <span class="p-1 rounded" style="background-color: #67FF88;">Approve</span>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td>7</td>
          <td>quynh2004</td>
          <td>Tự kỉ 1</td>
          <td class="text-center">9</td>
          <td>quynh</td>
          <td> hài hước,...</td>
          <td>Ngày xửa ngày xưa...</td>
          <td>Thêm</td>
          <td class="d-flex justify-content-center">
            <span class="p-1 rounded" style="background-color: #67FF88;">Approve</span>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td>8</td>
          <td>quynh2004</td>
          <td>Tự kỉ 1</td>
          <td class="text-center">9</td>
          <td>quynh</td>
          <td> hài hước,...</td>
          <td>Ngày xửa ngày xưa...</td>
          <td>Thêm</td>
          <td class="d-flex justify-content-center">
            <span class="p-1 rounded" style="background-color: #67FF88;">Approve</span>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td>9</td>
          <td>quynh2004</td>
          <td>Tự kỉ 1</td>
          <td class="text-center">9</td>
          <td>quynh</td>
          <td> hài hước,...</td>
          <td>Ngày xửa ngày xưa...</td>
          <td>Thêm</td>
          <td class="d-flex justify-content-center">
            <span class="p-1 rounded" style="background-color: #67FF88;">Approve</span>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td>10</td>
          <td>quynh2004</td>
          <td>Tự kỉ 1</td>
          <td class="text-center">9</td>
          <td>quynh</td>
          <td> hài hước,...</td>
          <td>Ngày xửa ngày xưa...</td>
          <td>Thêm</td>
          <td class="d-flex justify-content-center">
            <span class="p-1 rounded" style="background-color: #67FF88;">Approve</span>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>

    </div> 
      
  
      <!-- Dòng container với 6 cột -->
    
      
    
      
  </body>    
    
<style>
  .btn-text {
    cursor: default; /* Không thay đổi con trỏ chuột khi di chuột vào */
    pointer-events: none; /* Vô hiệu hóa sự kiện chuột cho thẻ */
    color: #6c757d; /* Màu chữ khi vô hiệu hóa */
    text-decoration: none; /* Bỏ gạch chân */
  }
</style>
<style>
  .p-1 {
    width: 90px; /* Đặt chiều rộng cố định cho các khung */
    text-align: center; /* Căn giữa nội dung trong khung */
  }
</style>
    <!-- Footer -->
    <footer class="fixed-bottom" id="footer">
        <div class="container text-center">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <span>© 2023 - HappiNovel</span>
                </div>
                <div class="col-md-6">
                    <span>Liên hệ: <a href="">contact@slavesteam.vn</a></span>
                </div>
            </div>
        </div>
    </footer>


</html>

