<div class="profile">
  <div class="user">
    <p>Vũ Minh Quỳnh</p>
    <!-- <p>@probablykat66</p> -->
  </div>
  <div class="img-box">
    <img
      src="./Image/ava1.png"
      alt="some user image"
    />
  </div>
</div>
<div class="menu">
  <ul>
    <li>
      <a href="#"><i class="fa-regular fa-user"></i>Tài khoản</a>
    </li>
    <li>
      <a href="#"><i class="far fa-bell"></i>Thông báo</a>
    </li>
    <li>
      <a href="#"><i class="fas fa-history"></i>Lịch sử đọc</a>
    </li>
    <li>
      <a href="#"><i class="far fa-bookmark"></i>Sách yêu thích</a>
    </li>
    <li>
      <a href="#"><i class="fa-solid fa-gear"></i>Quản lý</a>
    </li>
    <li>
      <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>Thoát</a>
    </li>
  </ul>
</div>

<script>
  let profile = document.querySelector(".profile");
  let menu = document.querySelector(".menu");

  profile.onclick = function () {
    menu.classList.toggle("active");
  };
</script>
