<ul class="contextMenu">
    <li class="contextMenu-item">
        <a href="#" class="contextMenu-btn">
            <i class="fa fa-folder-open"></i>
            <span class="contextMenu-text">Open</span>
        </a>
    </li>
    <li class="contextMenu-item contextMenu-item-disabled">
        <button type="button" class="contextMenu-btn">
            <span class="contextMenu-text">Open in New Window</span>
        </button>
    </li>
    <li class="contextMenu-separator"></li>
    <li class="contextMenu-item">
        <button type="button" class="contextMenu-btn">
            <i class="fa fa-reply"></i>
            <span class="contextMenu-text">Reply</span>
        </button>
    </li>
    <li class="contextMenu-item">
        <button type="button" class="contextMenu-btn">
            <i class="fa fa-star"></i>
            <span class="contextMenu-text">Favorite</span>
        </button>
    </li>
    <li class="contextMenu-item contextMenu-item-subcontextMenu">
        <button type="button" class="contextMenu-btn">
            <i class="fa fa-users"></i>
            <span class="contextMenu-text">Social</span>
        </button>
        <ul class="contextMenu">
            <li class="contextMenu-item">
                <button type="button" class="contextMenu-btn">
                    <i class="fa fa-comment"></i>
                    <span class="contextMenu-text">Comment</span>
                </button>
            </li>
            <li class="contextMenu-item contextMenu-item-subcontextMenu">
                <button type="button" class="contextMenu-btn">
                    <i class="fa fa-share"></i>
                    <span class="contextMenu-text">Share</span>
                </button>
                <ul class="contextMenu">
                    <li class="contextMenu-item">
                        <button type="button" class="contextMenu-btn">
                            <i class="fa fa-twitter"></i>
                            <span class="contextMenu-text">Twitter</span>
                        </button>
                    </li>
                    <li class="contextMenu-item">
                        <button type="button" class="contextMenu-btn">
                            <i class="fa fa-facebook-official"></i>
                            <span class="contextMenu-text">Facebook</span>
                        </button>
                    </li>
                    <li class="contextMenu-item">
                        <button type="button" class="contextMenu-btn">
                            <i class="fa fa-google-plus"></i>
                            <span class="contextMenu-text">Google Plus</span>
                        </button>
                    </li>
                    <li class="contextMenu-item">
                        <button type="button" class="contextMenu-btn">
                            <i class="fa fa-envelope"></i>
                            <span class="contextMenu-text">Email</span>
                        </button>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="contextMenu-separator"></li>
    <li class="contextMenu-item">
        <button type="button" class="contextMenu-btn">
            <i class="fa fa-download"></i>
            <span class="contextMenu-text">Save</span>
        </button>
    </li>
    <li class="contextMenu-item">
        <button type="button" class="contextMenu-btn">
            <i class="fa fa-edit"></i>
            <span class="contextMenu-text">Rename</span>
        </button>
    </li>
    <li class="contextMenu-item">
        <button type="button" class="contextMenu-btn">
            <i class="fa fa-trash"></i>
            <span class="contextMenu-text">Delete</span>
        </button>
    </li>
</ul>
