
<form id="form6" style="display: none;">
    <div class="d-flex justify-content-center rounded-2 section-title" style="margin-bottom: 20px;">
        <span><i class="fa-solid fa-book-open"></i>  THÔNG TIN CHƯƠNG</span>
    </div>

    <!-- Tên sách -->
    <div class="row mb-3 me-3">
        <div class="col-md-2 text-end align-self-md-center">
            <b>Tên sách <span style="color: red;">*</span></b>
        </div>
        <div class="col-md-10">
            <select id="bookSelect" class="form-select">
                <% for (let b = 0; b < books.length; b++) {%>
                    <option data-author="<%=books[b].authorName%>"><%=books[b].title%></option>
                <%}%>
            </select>
        </div>
    </div>

    <!-- Tác giả -->
    <div class="row mb-3 me-3">
        <div class="col-md-2 text-end align-self-md-center">
            <b>Tác giả <span style="color: red;">*</span></b>
        </div>
        <div class="col-md-10">
            <input id="authorSelect" type="text" class="form-control" disabled>
        </div>
    </div>

    <!-- Tên tập -->
    <div class="row mb-3 me-3">
        <div class="col-md-2 text-end align-self-md-center">
            <b>Tên tập <span style="color: red;">*</span></b>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" placeholder="Tên tập">
        </div>
    </div>

    <div class="row mb-3 float-end me-5">
        <button type="button" class="btn btn-success">Thêm tập</button>
    </div>
    <div class="row" style="visibility: hidden;">space</div>
    <div class="row" style="visibility: hidden;">space</div>
    <div class="row" style="visibility: hidden;">space</div>
    <div class="row" style="visibility: hidden;">space</div>
    <div class="row" style="visibility: hidden;">space</div>
    <div class="row" style="visibility: hidden;">space</div>
        
</form>

<script>
    
</script>